* {
  margin: 0;
}

.background {
  background: linear-gradient(to bottom right, rgba(256, 256,256, 0.5), rgba(0, 0, 244, .5)), 
  url('./Images/HS-Mug-Mockup-PSD5.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: auto;
   position: fixed;
   right:0;
   top: 10px;
}

li {
  float:left;
}

li a{
  padding: 5px;
  text-align: center;
}

li a:hover{
  background: white;
  color: blue;
  cursor: grab;
}

.body{
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  color: rgba(0, 0, 0, 1);
}

.body h3{
  font-size: 30px;
  font-variant:small-caps
}

.body p{
  font-size: 24px
}

button {
  background-color: rgb(151, 151, 190);
  text-transform: uppercase;
  margin-top: 5px;
  padding: 8px;
  color: rgba(0, 0, 0, 1);
  /* border: none; */
  cursor:grab;
  border-radius: 15px;
}

button:hover{
  background: #fff;
  color: blue;
}